<mat-grid-list cols="1" rowHeight="350px">
    <mat-grid-tile fxLayoutAlign="start" fxLayout="row wrap" fxLayoutGap="10px grid">
        <mat-card class="card">
            <mat-card-title>
                <p>{{name}}</p>
            </mat-card-title>
            <mat-card-subtitle>
                <p>Total Realties: {{totalRealties}}</p>
            </mat-card-subtitle>
            <img mat-card-image src="{{image_src}}" class="card-image">
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>