<mat-toolbar color="#69f0ae">
    <mat-toolbar-row>
        <span><a href="/" class="button-text">Predialize</a></span>
        <div>
            <button class="button-text" matBadge="{{totalClients}}" matBadgeColor="warn" mat-button
                routerLink="/client/all">Clients</button>
            <button class="button-text" matBadge="{{totalEnterprises}}" matBadgeColor="warn" mat-button
                routerLink="enterprise/all">Enterprises</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>